@import "tailwindcss";
@import "tw-animate-css";
@import "overlayscrollbars/styles/overlayscrollbars.css";
@import "./tailwind-theme.css";
@import "./scrollbar.css";

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    html,
    body {
        color-scheme: dark;
        width: 100%;
        height: 100%;
        min-height: -webkit-fill-available;
        margin: 0;
    }

    body {
        overscroll-behavior-y: contain;
        -webkit-tap-highlight-color: transparent;
        @apply bg-background text-foreground;
    }

    img {
        -webkit-user-select: none;
        /* biome-ignore lint/correctness/noUnknownProperty: ... */
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-user-drag: none;
        /* biome-ignore lint/correctness/noUnknownProperty: ... */
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -ms-user-drag: none;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    p {
        @apply text-base;
    }

    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }
}

:root {
    --background: oklch(0.2068 0.0247 224.4533);
    --foreground: oklch(0.852 0.1269 195.0354);
    --card: oklch(0.2293 0.0276 216.0674);
    --card-foreground: oklch(0.852 0.1269 195.0354);
    --popover: oklch(0.2293 0.0276 216.0674);
    --popover-foreground: oklch(0.852 0.1269 195.0354);
    --primary: oklch(0.852 0.1269 195.0354);
    --primary-foreground: oklch(0.2068 0.0247 224.4533);
    --secondary: oklch(0.3775 0.0564 216.501);
    --secondary-foreground: oklch(0.852 0.1269 195.0354);
    --muted: oklch(0.2894 0.0412 218.8153);
    --muted-foreground: oklch(0.6611 0.0975 195.0526);
    --accent: oklch(0.3775 0.0564 216.501);
    --accent-foreground: oklch(0.852 0.1269 195.0354);
    --destructive: oklch(0.6168 0.2086 25.8088);
    --destructive-foreground: oklch(0.9612 0 0);
    --border: oklch(0.3775 0.0564 216.501);
    --input: oklch(0.3775 0.0564 216.501);
    --ring: oklch(0.852 0.1269 195.0354);
    --chart-1: oklch(0.852 0.1269 195.0354);
    --chart-2: oklch(0.6611 0.0975 195.0526);
    --chart-3: oklch(0.5804 0.0849 195.0673);
    --chart-4: oklch(0.4269 0.063 202.6247);
    --chart-5: oklch(0.3142 0.0455 204.1575);
    --sidebar: oklch(0.2068 0.0247 224.4533);
    --sidebar-foreground: oklch(0.852 0.1269 195.0354);
    --sidebar-primary: oklch(0.852 0.1269 195.0354);
    --sidebar-primary-foreground: oklch(0.2068 0.0247 224.4533);
    --sidebar-accent: oklch(0.3775 0.0564 216.501);
    --sidebar-accent-foreground: oklch(0.852 0.1269 195.0354);
    --sidebar-border: oklch(0.3775 0.0564 216.501);
    --sidebar-ring: oklch(0.852 0.1269 195.0354);
    --radius: 0.125rem;
    --shadow-x: 1px;
    --shadow-y: 1px;
    --shadow-blur: 2px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.2;
    --shadow-color: hsl(180 70% 60% / 0.2);
    --shadow-2xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
    --shadow-xs: 1px 1px 2px 0px hsl(180 70% 60% / 0.1);
    --shadow-sm:
        1px 1px 2px 0px hsl(180 70% 60% / 0.2),
        1px 1px 2px -1px hsl(180 70% 60% / 0.2);
    --shadow:
        1px 1px 2px 0px hsl(180 70% 60% / 0.2),
        1px 1px 2px -1px hsl(180 70% 60% / 0.2);
    --shadow-md:
        1px 1px 2px 0px hsl(180 70% 60% / 0.2),
        1px 2px 4px -1px hsl(180 70% 60% / 0.2);
    --shadow-lg:
        1px 1px 2px 0px hsl(180 70% 60% / 0.2),
        1px 4px 6px -1px hsl(180 70% 60% / 0.2);
    --shadow-xl:
        1px 1px 2px 0px hsl(180 70% 60% / 0.2),
        1px 8px 10px -1px hsl(180 70% 60% / 0.2);
    --shadow-2xl: 1px 1px 2px 0px hsl(180 70% 60% / 0.5);
}
