@import "tailwindcss";
@import "tw-animate-css";
@import "./tailwind-theme.css";

@layer base {
    * {
        /*@apply border-border outline-ring/50;*/
    }

    html,
    body {
        color-scheme: dark;
        width: 100%;
        height: 100%;
        min-height: -webkit-fill-available;
        margin: 0;
    }

    body {
        overscroll-behavior-y: contain;
        -webkit-tap-highlight-color: transparent;
        /*@apply bg-background text-foreground;*/
    }

    img {
        -webkit-user-select: none;
        /* biome-ignore lint/correctness/noUnknownProperty: ... */
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -webkit-user-drag: none;
        /* biome-ignore lint/correctness/noUnknownProperty: ... */
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        -ms-user-drag: none;
    }

    h1 {
        @apply text-3xl;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl;
    }

    h4 {
        @apply text-lg;
    }

    h5 {
        @apply text-base;
    }

    h6 {
        @apply text-sm;
    }

    p {
        @apply text-base;
    }

    button:not([disabled]),
    [role="button"]:not([disabled]) {
        cursor: pointer;
    }
}
