@import "tailwindcss";

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    /** Primary color scale  */
    --color-primary-100: hsl(335, 96%, 95%);
    --color-primary-200: hsl(336, 96%, 85%);
    --color-primary-300: hsl(336, 96%, 75%);
    --color-primary-400: hsl(336, 96%, 65%);
    --color-primary-500: hsl(336, 96%, 55%);
    --color-primary-600: hsl(336, 96%, 45%);
    --color-primary-700: hsl(336, 96%, 35%);
    --color-primary-800: hsl(336, 96%, 25%);
    --color-primary-900: hsl(336, 96%, 15%);
    --color-primary-950: hsl(336, 96%, 5%);

    /* Success */
    --color-success: hsl(124, 68%, 55%);
    --color-success-100: hsl(124, 68%, 95%);
    --color-success-200: hsl(124, 68%, 85%);
    --color-success-300: hsl(124, 68%, 75%);
    --color-success-400: hsl(124, 68%, 65%);
    --color-success-500: hsl(124, 68%, 55%);
    --color-success-600: hsl(124, 68%, 45%);
    --color-success-700: hsl(124, 68%, 35%);
    --color-success-800: hsl(124, 68%, 25%);
    --color-success-900: hsl(124, 68%, 15%);
    --color-success-950: hsl(124, 68%, 5%);

    --color-success-foreground: hsl(0, 0%, 100%);

    /* Warning */
    --color-warning: hsl(32, 80%, 55%);
    --color-warning-100: hsl(32, 80%, 95%);
    --color-warning-200: hsl(32, 80%, 85%);
    --color-warning-300: hsl(32, 80%, 75%);
    --color-warning-400: hsl(32, 80%, 65%);
    --color-warning-500: hsl(32, 80%, 55%);
    --color-warning-600: hsl(32, 80%, 45%);
    --color-warning-700: hsl(32, 80%, 35%);
    --color-warning-800: hsl(32, 80%, 25%);
    --color-warning-900: hsl(32, 80%, 15%);
    --color-warning-950: hsl(32, 80%, 5%);

    --color-warning-foreground: hsl(0, 0%, 100%);

    /* Danger */
    --color-danger: hsl(0, 86%, 65%);
    --color-danger-100: hsl(0, 86%, 95%);
    --color-danger-200: hsl(0, 86%, 85%);
    --color-danger-300: hsl(0, 86%, 75%);
    --color-danger-400: hsl(0, 86%, 65%);
    --color-danger-500: hsl(0, 86%, 55%);
    --color-danger-600: hsl(0, 86%, 45%);
    --color-danger-700: hsl(0, 86%, 35%);
    --color-danger-800: hsl(0, 86%, 25%);
    --color-danger-900: hsl(0, 86%, 15%);
    --color-danger-950: hsl(0, 86%, 5%);

    --color-danger-foreground: hsl(0, 0%, 100%);

    /* Info */
    --color-info: hsl(210, 82%, 55%);
    --color-info-100: hsl(210, 82%, 95%);
    --color-info-200: hsl(210, 82%, 85%);
    --color-info-300: hsl(210, 82%, 75%);
    --color-info-400: hsl(210, 82%, 65%);
    --color-info-500: hsl(210, 82%, 55%);
    --color-info-600: hsl(210, 82%, 45%);
    --color-info-700: hsl(210, 82%, 35%);
    --color-info-800: hsl(210, 82%, 25%);
    --color-info-900: hsl(210, 82%, 15%);
    --color-info-950: hsl(210, 82%, 5%);

    --color-info-foreground: hsl(0, 0%, 100%);
}
